@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80");
  background-position: center center;
  background-repeat: repeat-y;
  background-size: cover;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif , monospace;
}
.countdown-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1{
  font-size:500%;
  margin-top: -20rem;
  font-weight: normal;
}
.big-text{
  font-size: 700%;
  line-height: 1;
  margin: 1rem 2rem;
  font-weight: bold;
}
span{
  font-size: 200%;
  margin: 0 2rem;
  text-align: center;
}
